@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --gleasing: cubic-bezier(0.4, 0, 0, 1);
  --display: 'Arflex';
}

@font-face {
  font-family: 'Arflex';
  src: url('/font/Arflex.otf');
}

@layer utilities {
  .se-grid {
    @apply grid grid-cols-4 gap-4 px-4 xs:grid-cols-4 xs:gap-4 xs:px-4 sm:grid-cols-8 sm:gap-4 sm:px-13 md:grid-cols-12 md:gap-6 md:px-24 lg:grid-cols-12 lg:gap-6 lg:px-19 xl:grid-cols-24 xl:gap-6 xl:px-36 2xl:grid-cols-24 2xl:gap-6 2xl:px-52;
  }
  a,
  button {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-[#325FF3] focus-visible:ring-offset-2;
  }
  .event-cards:has(.event-card-item:hover) .event-card-item:not(:hover) {
    @apply filter blur-sm;
  }
  .navigation-items:has(.navigation-item:hover) .navigation-item:not(:hover) {
    @apply filter blur-sm;
  }
}

[data-border='true'] {
  box-shadow: none !important;
}

[data-ui='PreviewCard'] [data-ui='Box'] span img {
  border-radius: 3px;
}

[data-ui='fieldHeaderContentBox'] label span,
legend span {
  font-size: large;
}

[data-testid='document-panel-document-title'] {
  font-weight: 300 !important;
}
[data-testid='field-groups'] {
  background-color: #eff1f2 !important;
  padding-bottom: 0% !important;
}

[data-testid='document-panel-scroller'] {
  background-color: #eff1f2;
}

[data-ui='Tab'] {
  background-color: #fcfcfc;
}

[data-ui='Tab'][data-selected] span {
  background-color: #242b31;
  color: #fcfcfc;
}

[data-ui='Stack'] > [data-ui='Flex'] > [data-ui='Button'] {
  background-color: #9da2a5;
}

[data-ui='Stack'] > [data-ui='Flex'] > [data-ui='Button'] span {
  color: #fcfcfc;
}

[data-ui='Stack'] > [data-ui='Flex'] > [data-ui='Button']:hover {
  background-color: #242b31;
}

[data-testid='action-Publicér'] {
  background-color: #3be086 !important;
  color: #242b31 !important;
}

[data-testid='action-Publicér'] span {
  color: #242b31 !important;
}
[data-testid='action-Publicér'] span span svg {
  color: #242b31 !important;
}
[data-as='form'] > [data-as='div'] > [data-ui='Text'] {
  display: none;
}

[data-ui='Navbar'] {
  background-color: #242b31 !important;
}
[data-ui='Navbar'] > [data-ui='Button'] {
  background-color: #242b31 !important;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a {
  background-color: #242b31;
  box-shadow: none;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a[data-selected] {
  background-color: #3be086;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a span {
  color: #fcfcfc;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a[data-selected] span,
[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  a[data-selected]
  span
  svg {
  color: #242b31 !important;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] button {
  background-color: #242b31;
  box-shadow: none;
  color: #fcfcfc;
}

[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  button
  [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text'],
[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  button
  [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text']
  svg {
  color: #fcfcfc;
}

[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  button[id='menu-button-resources'] {
  display: none;
}

button[data-ui='Button']
  > [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text'],
button[data-ui='Button']
  > [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text']
  span
  svg[data-sanity-icon='add'] {
  color: white !important;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: 'SuperSans';
  src: url('/backend/fonts/SuperWorkSans-Regular.otf'),
    url('/backend/fonts/SuperWorkSans-Regular.woff2'),
    url('/backend/fonts/SuperWorkSans-Regular.woff'),
    url('/backend/fonts/SuperWorkSans-Regular.ttf');
}

.map path:focus,
.map polygon:focus {
  outline: 2px solid blue;
  outline-offset: 2px;
}
